@model FinalProject_OrderCoffe.Models.Account

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header bg-success text-white">
        <h1 class="m-3">Edit</h1>
    </div>
    <div class="card-body">
        <h4>Role</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Password" class="form-control" />
                    <div class="container" style="max-width: 700px;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Phone" class="control-label"></label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Salt" class="control-label"></label>
                                    <input asp-for="Salt" class="form-control" />
                                    <span asp-validation-for="Salt" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Fullname" class="control-label"></label>
                                    <input asp-for="Fullname" class="form-control" />
                                    <span asp-validation-for="Fullname" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="RoleId" class="control-label"></label>
                                    <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                                    <span asp-validation-for="RoleId" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Lastlogin" class="control-label"></label>
                                    <input asp-for="Lastlogin" class="form-control" />
                                    <span asp-validation-for="Lastlogin" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="CreateDate" class="control-label"></label>
                                    <input asp-for="CreateDate" class="form-control" />
                                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <p class="mb-2">Active</p>
                                    <label class="toggle-switch toggle-switch-success">
                                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                                        <span class="toggle-slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>

