<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/assest/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/assest/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assest/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/assest/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/assest/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/assest/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/assest/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/assest/css/style.css" type="text/css">
	<img src="~/assest/~/assest/img/breadcrumb.jpg" />
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    @await Html.PartialAsync("_Headerpartialview.cshtml")
    
    @RenderBody()

    <!-- Footer Section Begin -->
    @await Html.PartialAsync("_FooterPartialView.cshtml")
    <!-- Footer Section End -->

  
    <!-- Js Plugins -->
    <script src="~/assest/js/jquery-3.3.1.min.js"></script>
    <script src="~/assest/js/bootstrap.min.js"></script>
    <script src="~/assest/js/jquery.nice-select.min.js"></script>
    <script src="~/assest/js/jquery-ui.min.js"></script>
    <script src="~/assest/js/jquery.slicknav.js"></script>
    <script src="~/assest/js/mixitup.min.js"></script>
    <script src="~/assest/js/owl.carousel.min.js"></script>
    <script src="~/assest/js/main.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required : false)

</body>

</html>